@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');



.manual_test {
    background-color: #104178;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.manual_test .input-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.manual_test .input-group div {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.manual_test strong {
    margin-bottom: 10px;
}

.manual_test button {
    background-color: rgb(198, 211, 230);
    border: none;
    border-radius: 20px;
    color: rgb(31, 53, 119);
    padding: 15px;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 10px;
    cursor: pointer;
    outline: none;
    transition: .5s;
    width: 30%;
}

.manual_test button:hover {
    background-color: #7292bd;
}

/* input[type='number'],
input[type='text'],
select {
    border: none;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f0f0f0;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-top: 10px;
} */

#userState {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: center;
    width: 100%;
}