@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
    --_fw-900: 900;
    --_fw-700: 700;
    --_fw-400: 400;

    --_clr-900: hsl(0, 0%, 100%);
    --_clr-700: hsl(0, 0%, 80%);
    --_clr-400: hsl(0, 0%, 60%);
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #0d396b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #d5d7e6;
}

.bubble-text {
    font-size: clamp(1.5rem, calc(1.5rem + 2vw), 4rem);
    /* Adjusted font size */
    color: hsl(0, 0%, 50%);
    user-select: none;
}

.split-text {
    display: inline-flex;
}

.split-char {
    font-weight: 200;
    transition: font-weight 0.5s ease;
}

.split-char:hover {
    font-weight: var(--_fw-900);
    color: var(--_clr-900);
}

.split-char:hover+.split-char {
    font-weight: var(--_fw-700);
    color: var(--_clr-700);
}

.split-char:hover+.split-char+.split-char {
    font-weight: var(--_fw-400);
    color: var(--_clr-400);
}

.split-char:has(+ .split-char:hover) {
    font-weight: var(--_fw-700);
    color: var(--_clr-700);
}

.split-char:has(+ .split-char + .split-char:hover) {
    font-weight: var(--_fw-400);
    color: var(--_clr-400);
}

button {
    background-color: #3498db;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px;
    /* Adjusted padding for bigger buttons* */
    text-transform: uppercase;
    width: 200px;
    /* Fixed width for consistency* */
    margin: 10px 0;
    /* Adjusted margin */
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    font-size: 0.8rem;
    /* Adjusted font size */
}




button:hover {
    background-color: #2980b9;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
select {
    border: none;
    border-radius: 20px;
    display: block;
    margin: 10px 0;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #104683;
    color: #bdd4ef;
    outline: none;
    box-shadow: inset 0 1px 3px #bdd4ef;
    text-align: left;
}

#addressesman {
    color: #f7f7f7;
}

.layout-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navigation-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    /* Adjusted to match button width* */
    width: 100%;
    padding: 0 20px;
    /* Added padding */
}

.link-button {
    background: none;
    border: none;
    color: #3498db;
    padding: 0;
    cursor: pointer;
    transition: .5s;
}

.link-button:hover {
    text-decoration: underline;
    background-color: none;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 70%;
    text-align: left;
    padding-left: 5px;
    color: #dbe4ef;
}

.password-requirements {
    font-size: x-small;
}

.login-div,
.signup-div {
    background-color: #104178;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 6em;
    padding-right: 6em;
    border-radius: 25px;
    transition: .5s;
}

.login-div:hover {
    box-shadow: 2px 4px 5px #104178;
}

.signup-div:hover {
    box-shadow: 2px 4px 5px #104178;
}

.login-div label {
    font-weight: 300;
}

.login-div #loginbtn {
    background-color: #f7f7f7;
    font-weight: 300;
    transition: .5s;
    margin-left: 1em;
    color: #0d396b;
}

.signup-div #sgnbtn {
    background-color: #f7f7f7;
    font-weight: 300;
    transition: .5s;
    margin-left: 1em;
    color: #0d396b;
}

.login-div #loginbtn:hover {
    background-color: #0d4b92;
    color: #f7f7f7;
}


.signup-div #sgnbtn:hover {
    background-color: #0d4b92;
    color: #f7f7f7;
}

.already {
    color: #f7f7f7;
}


/* eth details */

.ethereum-details-div {
    text-align: center;
    padding: 40px;
}

.ethereum-details-div img {
    display: block;
    margin: 0 auto 20px auto;
}

.details-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.detail-text {
    text-align: left;
    flex: 1;
}

.copied {
    color: green;
}

.connect-metamask-button,
.continue-button {
    display: block;
    margin: 20px auto;
}

.copy {
    margin-left: 5em;
}


/* vslogo */

.vslogo {
    margin: 2em;
    margin-left: 4em;
    margin-top: 0.5em;
}

/* active routes */


.active-routes-div {
    text-align: center;
    padding: 20px;
}

.active-routes-div img {
    display: block;
    margin: 0 auto 20px auto;
}

.manual-test-button {
    display: block;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;
}

.noActiveRoutesimg {
    width: 100px;
    height: 120px;
    opacity: 65%;
    transition: 0.5s;
    position: relative;
    z-index: 1;
}

.noActiveRoutesimg:hover {
    width: 120px;
    height: 140px;
    opacity: 100%;
}

.image-container {
    position: relative;
    display: inline-block;
}

.hover-message {
    display: none;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 2;
    width: 200px;
    text-align: center;
    font-size: 12px;
}

.image-container:hover .hover-message {
    display: block;
}


/* link color change */

.change {
    color: #bdd4ef;
}

.change:hover {
    color: #3498db;
}

/* progress */

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.progress-image {
    width: 100px;
    height: 100px;
}

.progress-bar {
    width: 60px;
    /* Adjust the initial width to match your requirements */
    height: 15px;
    margin-top: 10px;
    transition: width 0.5s;
    border-radius: 5px;
}

.formattedAddress {
    width: 100%;
    align-items: left;
}